<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<mappers>
		<mapper resource="com/mybatis/mapper/calendar.xml" />
		<mapper resource="com/mybatis/mapper/login.xml" />
		<mapper resource="com/mybatis/mapper/team.xml" />
		<mapper resource="com/mybatis/mapper/board.xml" />
		<mapper resource="com/mybatis/mapper/note.xml" />
		<mapper resource="com/mybatis/mapper/meet.xml"/>
		<mapper resource="com/mybatis/mapper/include.xml" />
		<mapper resource="com/mybatis/mapper/card.xml" />
		<mapper resource="com/mybatis/mapper/chatting.xml" />
	</mappers>
</configuration>
